/node_modules
/Лаба5/node_modules
/СМ4/node_modules
/Лаба6/node_modules
/СМ5/node_modules
/Лаба7/node_modules
/СМ6/node_modules
/Лаба8/node_modules
/СМ7/node_modules
/Лаба9/node_modules
/СМ8/node_modules
/Лаба10/node_modules
/СМ9/node_modules
/Лаба11/frontend/node_modules


Финальный проект

