.root {
    margin: 0;
}

.search {
    margin-left: 20vh;
}

.WeatherCard {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
}

.App {
    margin: 0;
    flex-direction: row;
    display: flex;
    color: white;
}

.now-main {
    flex-direction: row;
    display: flex;
    padding-left: 32%;
}

.now-icon {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.now-temp {
    margin-left: 22%;
    width: 60%;
    font-size: 50px;
    text-align: center;
}

.name-temp {
    padding-top: 5%;
}

.request-date {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 5%;
}

.details p {
    margin: 0;
    white-space: nowrap;
}

.five-hours-forecast {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.five-days-forecast {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.hour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.hour-item img {
    width: 40px;
    height: 40px;
}

.five-days-forecast {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 15px;
}

.day-item {
    display: flex;
    align-items: center;
    padding: 3px;
    padding-left: 6%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-color: black;
}

.day {
    padding-left: 20%;
    width: 20%;
    margin-right: 5%;
}

.avtemp {
    padding-left: 1%;
    width: 20%;
}