.Object {
    /* margin-left: 0;
    margin-top: 10vh;
    width: 80vh;
    height: 20vh;
    text-align: center;
    font-size: 40px; */
    margin-top: 5%;
}

.DataGrid {
    margin-left: 60vh;
    margin-top: 20vh;
    width: 100vh;
    /* height: 30vh; */
    text-align: center;
    font-size: 40px;
    background-color: rgba(98, 81, 166, 0.571);
}

.body_content {
    height: 30%;
    border: 1px solid rgb(60, 136, 191);
}

.header-content {
    height: 10%;
    border: 1px solid rgb(60, 136, 191);
}

.Element {
    border: 1px solid rgb(60, 136, 191);
}