@media screen and (max-width: 1500px) {
    body {
        margin: 0;
        grid-template-rows: auto;
        display: grid;
    }

    .header {
        width: 100%;
        height: 30vh;
        background-color: brown;
        text-align: center;
        font-size: 50px;
        line-height: 3;
    }

    .main {
        flex-direction: row;
        display: flex;
        width: 100%;
        height: 70vh;
    }

    .part1 {
        background-color: white;
        width: 34%;
        height: 100%;
    }

    .part2 {
        background-color: blue;
        width: 34%;
        height: 100%;
    }

    .part3 {
        background-color: red;
        width: 34%;
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0;
        grid-template-columns: 34% auto;
        display: grid;
    }

    .header {
        height: 100vh;
        background-color: brown;
        text-align: center;
        font-size: 30px;
        line-height: 15;
    }

    .main {
        flex-direction: column;
        display: flex;
        height: 100vh;
    }

    .part1 {
        background-color: white;
        width: 100%;
        height: 34%;
    }

    .part2 {
        background-color: blue;
        width: 100%;
        height: 34%;
    }

    .part3 {
        background-color: red;
        width: 100%;
        height: 34%;
    }
}
