body {
    margin: 0;
}

div {
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 2000px) {
    .header {
        width: 100%;
        height: 10vh;
        background-color: red;
        line-height: 3;
    }

    .footer {
        width: 100%;
        height: 10vh;
        background-color: rgb(44, 148, 239);
        line-height: 3;
    }

    .mid {
        flex-direction: row;
        display: flex;
        height: 80vh;
        width: 100%;
        line-height: 30;
    }

    .main {
        width: 60%;
        height: 100%;
        background-color: white;
    }

    .left {
        width: 20%;
        height: 100%;
        background-color: yellow;
    }

    .right {
        width: 20%;
        height: 100%;
        background-color: greenyellow;
    }
}

@media screen and (max-width: 470px) {
    .header {
        width: 100%;
        height: 20vh;
        background-color: red;
        line-height: 2;
    }

    .footer {
        width: 100%;
        height: 20vh;
        background-color: rgb(44, 148, 239);
        line-height: 2;
    }

    .mid {
        flex-direction: column;
        display: flex;
        height: 20vh;
        width: 100vh;
        line-height: 2;
    }

    .main {
        width: 100vh;
        height: 20vh;
        background-color: white;
        line-height: 2;
    }

    .left {
        width: 100vh;
        height: 20vh;
        background-color: yellow;
        line-height: 2;
    }

    .right {
        width: 100vh;
        height: 20vh;
        background-color: greenyellow;
        line-height: 2;
    }
}
